{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Set New Password</title>
    <link rel="stylesheet" href="{% static 'css/reset2.css' %}">
</head>
<body>
    
   
    <div class="container">
        <div class="left-side">
            <div>   
                <img src="{% static 'image/login2.png' %}" style="height: 548px;" class="mainimage">
            </div>
            <div class="button2">
                <a href="{% url 'login' %}" class="b2">Sign In</a>
            </div>
        </div>

        <div class="right-side">
            <h1 id="bookty">BOOKTY.com</h1>

        
           <h1>Set a New Password</h1>
          
             
          
                

                <form class="form2" method="post">
                    {% csrf_token %}
                    {% if error %}
                        <p style="color:red;">{{ error }}</p>
                    {% endif %}
                    <div class="input-container">
                       <input type="password" name="password" placeholder="New Password" required>
                    </div>
                    <div class="button1" style="  position: absolute; top: 56%; left: 58%;">
                        <button type="submit" class="b1">Reset Password</button>
                    </div>
                 </form>

        </div>
    </div>


</body>
</html>
